# Models
models/

# Data
data/raw/
data/processed/
data/augmented/

# MLflow
mlruns/

# Node
frontend/defect-ui/node_modules/
frontend/defect-ui/.next/

# Python
__pycache__/
*.pyc
.env

# Jupyter
.ipynb_checkpoints/

# Windows
Thumbs.db
Desktop.ini